header {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

.clear-button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 10px; /* Adjust as needed */
}

.entry-container {
  display: flex;
  padding: 30px;
  flex-direction: column;
}

.input-group {
  margin-bottom: 20px;
}

.table {
  padding: 50px;
  margin: 0 auto;
  width: 80%;
  box-sizing: border-box;
}

.login-container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: 100vh;
  padding: 20px;
}

.choose-page {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.input-group label {
  width: 100%;
  display: block; 
  margin-bottom: 20px; 
}


/* Desktop View */
/* Devices with a width of 1263px and above */
@media (min-width: 1263px) {
  .container {
    padding: 10px;
    display: flex;
  }
  
  canvas {
    padding: 10px 10px;
  }
  
  button[type="submit"] {
    margin-left: 200px;
  }

  
}

@media (min-width: 704px) and (max-width: 1262px) {
  .container {
    padding: 10px;
    display: flex;
  }

  .input-group label {
    margin-bottom: 5px; 
  }

  .change-values-button {
    width: 10%;
    /* height: 50%; */
  }

  button[type="submit"] {
    margin-left: 50px;
    justify-content: center;
  }
  
}

@media (max-width: 704px) {
  .container {
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  
  canvas {
    width: 100%;
    padding: 10px 10px;
    display: block;
  }
  
  button[type="submit"] {
    margin-left: 170px;
  }
}

@media (max-width: 768px) and (min-width: 704px) {
  .container {
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  canvas {
    width: 100%;
    padding: 10px 10px;
    display: block;
  }

  .change-values-button {
    width: 10%;
  } 

  button[type="submit"] {
    margin-left: 200px;
  }
}

